# Imports

In [74]:
import pandas as pd
import numpy as np

# Read Input 

The input file is present as inp.csv

In [75]:
df = pd.read_csv('inp.csv')
df = df.dropna(how='all')
df.index = df['YEAR']
df = df.drop('YEAR', axis=1)
df

,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
YEAR,,,,,,,,,,,,
1901.0,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6
1902.0,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5
1903.0,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0
1904.0,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1
1905.0,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7
...,...,...,...,...,...,...,...,...,...,...,...,...
2011.0,265.9,84.8,272.8,111.4,326.5,383.2,583.2,441.5,757.1,212.3,150.8,238.5
2012.0,119.9,45.6,30.9,55.8,533.9,458.2,317.3,369.6,868.9,209.7,300.5,187.3
2013.0,67.1,37.6,43.0,46.3,509.3,777.0,564.8,336.7,473.6,455.8,354.2,92.3
2014.0,41.9,8.6,0.0,11.1,238.0,416.6,467.6,321.6,412.9,402.6,201.2,100.4
2015.0,126.8,7.6,3.1,138.2,331.9,346.4,328.9,480.0,523.3,252.1,236.3,129.9

# Fill empty rows for years that are absent

In [105]:
min_year = int(min(df.index))
max_year = int(max(df.index))
print(min_year, max_year)
df_all_years = df.reindex(list(range(min_year, max_year+1+2)))
df

1901 2015

,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
YEAR,,,,,,,,,,,,
1901.0,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6
1902.0,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5
1903.0,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0
1904.0,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1
1905.0,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7
...,...,...,...,...,...,...,...,...,...,...,...,...
2011.0,265.9,84.8,272.8,111.4,326.5,383.2,583.2,441.5,757.1,212.3,150.8,238.5
2012.0,119.9,45.6,30.9,55.8,533.9,458.2,317.3,369.6,868.9,209.7,300.5,187.3
2013.0,67.1,37.6,43.0,46.3,509.3,777.0,564.8,336.7,473.6,455.8,354.2,92.3
2014.0,41.9,8.6,0.0,11.1,238.0,416.6,467.6,321.6,412.9,402.6,201.2,100.4
2015.0,126.8,7.6,3.1,138.2,331.9,346.4,328.9,480.0,523.3,252.1,236.3,129.9

# Compute future Values

In [106]:
futurevals = df_all_years.copy()
futurevals.index = list(range(min_year-2, max_year+1))
futurevals = futurevals.loc[min_year:max_year-2,:]
futurevals

,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
1901,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0
1902,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1
1903,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7
1904,36.6,0.0,0.0,0.0,556.1,733.3,247.7,320.5,164.3,267.8,128.9,79.2
1905,110.7,0.0,113.3,21.6,616.3,305.2,443.9,377.6,200.4,264.4,648.9,245.6
...,...,...,...,...,...,...,...,...,...,...,...,...
2009,265.9,84.8,272.8,111.4,326.5,383.2,583.2,441.5,757.1,212.3,150.8,238.5
2010,119.9,45.6,30.9,55.8,533.9,458.2,317.3,369.6,868.9,209.7,300.5,187.3
2011,67.1,37.6,43.0,46.3,509.3,777.0,564.8,336.7,473.6,455.8,354.2,92.3
2012,41.9,8.6,0.0,11.1,238.0,416.6,467.6,321.6,412.9,402.6,201.2,100.4
2013,126.8,7.6,3.1,138.2,331.9,346.4,328.9,480.0,523.3,252.1,236.3,129.9

# Add prefix to values in futurevals

In [107]:
for month in futurevals.columns:
    for year in futurevals.index:
        futurevals.loc[year, month] = f"{year+2}-{month}-{futurevals.loc[year, month]}"

In [108]:
futurevals

,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
1901,1903-JAN-12.7,1903-FEB-144.0,1903-MAR-0.0,1903-APR-1.0,1903-MAY-235.1,1903-JUN-479.9,1903-JUL-728.4,1903-AUG-326.7,1903-SEP-339.0,1903-OCT-181.2,1903-NOV-284.4,1903-DEC-225.0
1902,1904-JAN-9.4,1904-FEB-14.7,1904-MAR-0.0,1904-APR-202.4,1904-MAY-304.5,1904-JUN-495.1,1904-JUL-502.0,1904-AUG-160.1,1904-SEP-820.4,1904-OCT-222.2,1904-NOV-308.7,1904-DEC-40.1
1903,1905-JAN-1.3,1905-FEB-0.0,1905-MAR-3.3,1905-APR-26.9,1905-MAY-279.5,1905-JUN-628.7,1905-JUL-368.7,1905-AUG-330.5,1905-SEP-297.0,1905-OCT-260.7,1905-NOV-25.4,1905-DEC-344.7
1904,1906-JAN-36.6,1906-FEB-0.0,1906-MAR-0.0,1906-APR-0.0,1906-MAY-556.1,1906-JUN-733.2999999999998,1906-JUL-247.7,1906-AUG-320.5,1906-SEP-164.3,1906-OCT-267.8,1906-NOV-128.9,1906-DEC-79.2
1905,1907-JAN-110.7,1907-FEB-0.0,1907-MAR-113.3,1907-APR-21.6,1907-MAY-616.3,1907-JUN-305.2,1907-JUL-443.9,1907-AUG-377.6,1907-SEP-200.4,1907-OCT-264.4,1907-NOV-648.9,1907-DEC-245.6
...,...,...,...,...,...,...,...,...,...,...,...,...
2009,2011-JAN-265.9,2011-FEB-84.79999999999998,2011-MAR-272.8,2011-APR-111.4,2011-MAY-326.5,2011-JUN-383.2,2011-JUL-583.2,2011-AUG-441.5,2011-SEP-757.1,2011-OCT-212.3,2011-NOV-150.8,2011-DEC-238.5
2010,2012-JAN-119.9,2012-FEB-45.6,2012-MAR-30.9,2012-APR-55.8,2012-MAY-533.9,2012-JUN-458.2,2012-JUL-317.3,2012-AUG-369.6,2012-SEP-868.9,2012-OCT-209.7,2012-NOV-300.5,2012-DEC-187.3
2011,2013-JAN-67.1,2013-FEB-37.6,2013-MAR-43.0,2013-APR-46.3,2013-MAY-509.3,2013-JUN-777.0,2013-JUL-564.8,2013-AUG-336.7,2013-SEP-473.6,2013-OCT-455.8,2013-NOV-354.2,2013-DEC-92.3
2012,2014-JAN-41.9,2014-FEB-8.599999999999998,2014-MAR-0.0,2014-APR-11.1,2014-MAY-238.0,2014-JUN-416.6,2014-JUL-467.6,2014-AUG-321.6,2014-SEP-412.9,2014-OCT-402.6,2014-NOV-201.2,2014-DEC-100.4
2013,2015-JAN-126.8,2015-FEB-7.599999999999999,2015-MAR-3.1,2015-APR-138.2,2015-MAY-331.9,2015-JUN-346.4,2015-JUL-328.9,2015-AUG-480.0,2015-SEP-523.3,2015-OCT-252.1,2015-NOV-236.3,2015-DEC-129.9

# Write output 'out.csv' to disk